
<div class="head">
    <ul class="header">
        <li><a routerLink="/home" routerLinkActive="active"><i class="fa-sharp fa-solid fa-house"></i></a></li>
        <li><a routerLink="" routerLinkActive="active">Home</a></li>
        <li><a routerLink="" routerLinkActive="active">About Us</a></li>
        <li><a routerLink="" routerLinkActive="active">Products</a></li>
        <li><a routerLink="" routerLinkActive="active">Contact Us</a></li>

    </ul>
   <a routerLink="/login"> <i class="fa-solid fa-user" id="user_icon"></i></a>
</div>
<router-outlet></router-outlet>