
<div class="head">
    <ul class="header">
        <li><a routerLink="/home1" routerLinkActive="active"><i class="fa-sharp fa-solid fa-house"></i></a></li>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
        <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Contact Us</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
    </ul>
   <a routerLink="/register"> <i class="fa-solid fa-user" id="user_icon"></i></a>
</div>
<app-about-us [clgStudentDts]="clgParent"></app-about-us>
<router-outlet></router-outlet>