.header li {
    list-style-type: none;
    font-size: 1.5vw;
    float: left;
    padding-left: 1vw;
    /* padding-top: 0%; */
    padding-bottom: 1vw;
    display: block;
    box-sizing: border-box;
}

.head a {
    text-decoration: none;
}
.head {
    width: 100%;
    /* border: 1px solid lightcyan; */
    border: none;
    box-sizing: content-box;
    overflow: hidden;
    margin-top: 0%;
    background-color: lightcyan;
    vertical-align: middle;
    
}
#user_icon{
    float: right;
    padding-right: 1vw ;
}
.head ul{
    padding-left: 0%;
}
.active{
    color: rgb(31, 231, 41);
    /* background-color: green; */
    width: 100%;
    overflow: auto;
}